@font-face {
    font-family: 'Kudry';
    src: url('./font/kudry/Kudry-WeirdText.eot');
    src: url('./font/kudry/Kudry-WeirdText.woff2') format('woff2');
    src: url('./font/kudry/Kudry-WeirdText.woff') format('woff');
    src: url('./font/kudry/Kudry-WeirdText.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'InvolveMedium';
    src: url('./font/involve/Medium/InvolveMedium.eot');
    src: url('./font/involve/Medium/InvolveMedium.woff2') format('woff2');
    src: url('./font/involve/Medium/InvolveMedium.woff') format('woff');
    src: url('./font/involve/Medium/InvolveMedium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'InvolveReg';
    src: url('./font/involve/regular/Involve-Regular.eot');
    src: url('./font/involve/regular/Involve-Regular.woff2') format('woff2');
    src: url('./font/involve/regular/Involve-Regular.woff') format('woff');
    src: url('./font/involve/regular/Involve-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


html, body {
    overflow-y: auto;
    height: 100vh;
    margin: 0;
    }

/* WebKit */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html, body {
    scrollbar-width: none;
}
.content{
    height: 90%;
    width: 100%;
}