@font-face {
    font-family: 'Kudry';
    src: url('./font/kudry/KudryWeirdHeadline.eot');
    src: url('./font/kudry/KudryWeirdHeadline.woff2') format('woff2');
    src: url('./font/kudry/KudryWeirdHeadline.woff') format('woff');
    src: url('./font/kudry/KudryWeirdHeadline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'InvolveMedium';
    src: url('./font/involve/Medium/InvolveMedium.eot');
    src: url('./font/involve/Medium/InvolveMedium.woff2') format('woff2');
    src: url('./font/involve/Medium/InvolveMedium.woff') format('woff');
    src: url('./font/involve/Medium/InvolveMedium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'InvolveReg';
    src: url('./font/involve/regular/Involve-Regular.eot');
    src: url('./font/involve/regular/Involve-Regular.woff2') format('woff2');
    src: url('./font/involve/regular/Involve-Regular.woff') format('woff');
    src: url('./font/involve/regular/Involve-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'GellaMed';
    src: url('./font/GellaMed/GellaMed.eot');
    src: url('./font/GellaMed/GellaMed.woff2') format('woff2');
    src: url('./font/GellaMed/GellaMed.woff') format('woff');
    src: url('./font/GellaMed/GellaMed.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


html, body {
    overflow-y: auto;
    height: 100vh;
    margin: 0;
    }

/* WebKit */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html, body {
    /* scrollbar-width: none; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6020px;
    
}
.content{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0px 24px 200px 24px;
    box-sizing: border-box; /* Чтобы border не увеличивал размеры */
    background-color: transparent;
    overflow-x: hidden; /* Отключает горизонтальный скролл */
    overflow-y: hidden;
}
header
{
    background-color: transparent
    
}

footer
{
    background-color: transparent
}
.background_img
{
    max-width: 100%;
    height: auto;
    z-index: -1;
    position:absolute; 
    width: auto; 
    align-self: center;

}

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

#collection_h2
{
    font-family: 'InvolveReg', sans-serif;
    font-weight: 500px;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    border-bottom: 0.5px solid #250105;
    line-height: 50px;
    width: 20%;
    text-align: right;
    color: #250105;
    margin-right: auto;
    margin-left: 0;
    margin-top: 100px;
    margin-bottom: -30px;
}

#dress_silhouettes_h2
{
    font-family: 'InvolveMedium', sans-serif;
    font-weight: 500px;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    border-bottom: 0.5px solid #250105;
    line-height: 50px;
    width: 504px;
    text-align: left;
    color: #250105;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: -5px;
}
